.settings {
    h2 {
        margin-bottom: 10px;
    }

    div {
        margin-bottom: 5px;
    }

    .label {
        margin-right: .5em;
    }

    .value {
        margin-right: 1.5em;
    }

    .value-shifty-host {
        width: 15em;
    }
}